* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

main {
  width: 100vw;
  height: 100vh;
  background: #247841;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-container {
  width: 70%;
  height: 70vh;
  background: white;
  background: #37B864;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.timer-itens  {
  display: flex;
}

.timer-itens > span {
  font-size: 7rem;
  position: relative;
  color: #11381F;
}

.timer-itens > span:first-child:after {
  content: ':';
}

.timer-itens > span:last-child:before {
  content: ':';
}

.buttons {
  padding: 1rem;
}

.buttons > button {
  width: 8rem;
  padding: 0.8rem;
  border-radius: 5px;
  margin: 0.8rem;
  background: rgba(74,247,135, 0.7);
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 500;
}

.buttons > button:hover {
  color: white;
}

@media only screen and (max-width: 600px) {

  .timer-itens > span  {
    font-size: 2.5rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
  
} 